[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Power Profiles
Comment=Manage power profiles (power-saver, balanced, performance)
Icon=power-profile-balanced-symbolic
X-XFCE-Module=powerprofiles
X-XFCE-Internal=FALSE
X-XFCE-Unique=false
X-XFCE-API=2.0
